# Google Books API
GOOGLE_BOOKS_API_KEY=

# Yahoo!ショッピング商品検索API
YAHOO_SHOPPING_CLIENT_ID=

# 楽天ブックス書籍検索API / 楽天Kobo電子書籍検索API
# (楽天アフィリエイトIDはなくても検索は可能)
RAKUTEN_APP_ID=
RAKUTEN_ACCESS_KEY=
RAKUTEN_AFFILIATE_ID=

# DMMアフィリエイト WebサービスAPI
# (DMMアフィリエイトID は必須)
DMM_AFFILIATE_ID=
DMM_API_ID=
